body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.add-button {
  margin-left: 120px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  padding: 15px;
}